<div class="add" *ngIf="!(moreThanOne$ | async)">
You may<a href="#" 
     class="text-link mt-1 ml-2" 
     [class.disabled]="!(initialized$ | async)" 
     (click)="openDialog(singleEntity); $event.preventDefault()"
     role="link">start a new deposit</a>.  The deposit process includes describing the item and uploading its file(s).
</div>

<div class="add w-100" display="dynamic" placement="bottom-right"
     ngbDropdown
     *ngIf="(moreThanOne$ | async)">
  <a href="#"
     class="text-link mt-1 ml-2" 
     id="dropdownSubmission" ngbDropdownToggle 
     [class.disabled]="!(initialized$ | async)"
     attr.aria-label="{{'mydspace.new-submission' | translate}}"
     [attr.data-test]="'submission-dropdown' | dsBrowserOnly"
     title="{{'mydspace.new-submission' | translate}}"
     role="link"
     (click)="$event.preventDefault()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span class="caret"></span>
  </a>
  <div ngbDropdownMenu
       class="dropdown-menu"
       id="entityControlsDropdownMenu"
       aria-labelledby="dropdownSubmission">
    <ds-entity-dropdown [isSubmission]="true" (selectionChange)="openDialog($event)"></ds-entity-dropdown>
  </div>
</div>