
<h1>{{'mydspace.title' | translate}}</h1>
<span>Deposited Works can only be changed by an administrator. To request a change, please <a href="https://teamdynamix.umich.edu/TDClient/88/Portal/Requests/TicketRequests/NewForm?ID=7Az64AR5TqI_&RequestorType=Service" target="_blank" style="text-decoration: none;"><span style="text-decoration: underline;">Contact Us</span>&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>. Draft Works can be edited, deleted, or deposited by you.</span>
<p></p>

<div class="add" *ngIf="!(moreThanOne$ | async)">
You may<a href="#" 
     class="text-link mt-1 ml-2" 
     [class.disabled]="!(initialized$ | async)" 
     (click)="openDialog(singleEntity); $event.preventDefault()"
     role="link">start a new Work</a>.  The deposit process includes describing the item and uploading its file(s).
</div>

<div class="add w-100" display="dynamic" placement="bottom-right"
     ngbDropdown
     *ngIf="(moreThanOne$ | async)">
  <a href="#"
     class="text-link mt-1 ml-2" 
     id="dropdownSubmission" ngbDropdownToggle 
     [class.disabled]="!(initialized$ | async)"
     attr.aria-label="{{'mydspace.new-submission' | translate}}"
     [attr.data-test]="'submission-dropdown' | dsBrowserOnly"
     title="{{'mydspace.new-submission' | translate}}"
     role="link"
     (click)="$event.preventDefault()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span class="caret"></span>
  </a>
  <div ngbDropdownMenu
       class="dropdown-menu"
       id="entityControlsDropdownMenu"
       aria-labelledby="dropdownSubmission">
    <ds-entity-dropdown [isSubmission]="true" (selectionChange)="openDialog($event)"></ds-entity-dropdown>
  </div>
</div>
