@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {

  }
  .header {
    background-color: var(--ds-header-bg);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
}

.navbar-toggler {
  color: var(--ds-header-icon-color);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

.skip-links {
  background: var(--color-blue-400);
  padding: var(--space-small);
  margin: 0 auto;
}

.skip-links a {
  color: #fff;
  padding: var(--space-x-small);
}

.skip-links:not(:focus-within) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

