<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between border-bottom">
        <h2>{{ type + '.edit.head' | translate }}</h2>

<span *ngVar="(dsoRD$ | async)?.payload.uuid as coll_uuid">
<div class="ds-form-item row">
<div class="control-group col-sm-12">
<button style="background-color: #1d7491;" (click)="goToCollectionAdminStats(coll_uuid)" id="aspect_administrative_collection_EditCollectionMetadataForm_field_submit_collection_stats" class="ds-button-field btn btn-default" name="submit_collection_stats" >
<div style="color: white">Get Collection Stats</div>
</button>
</div>
</div>
</span>

<div>
<span *ngVar="(dsoRD$ | async)?.payload.uuid as coll_uuid">
<div *ngIf="!this.subscribeStats && this.type === 'collection'">
<div class="ds-form-item row">
<div class="control-group col-sm-12">
<button style="background-color: #1d7491;" (click)="subscribeToAdminStats(coll_uuid)" id="aspect_administrative_collection_EditCollectionMetadataForm_field_submit_collection_stats" class="ds-button-field btn btn-default" name="submit_collection_stats" >
<div style="color: white">Subscribe to Collection Stats</div>
</button>
</div>
</div>
</div>
</span>

<span *ngVar="(dsoRD$ | async)?.payload.uuid as coll_uuid">

<div *ngIf="this.subscribeStats && this.type === 'collection'">
<div class="ds-form-item row">
<div class="control-group col-sm-12">
<button style="background-color: #1d7491;" (click)="unsubscribeToAdminStats(coll_uuid)"id="aspect_administrative_collection_EditCollectionMetadataForm_field_submit_collection_stats" class="ds-button-field btn btn-default" name="submit_collection_stats" >
<div style="color: white">Unsubscribe to Collection Stats</div>
</button>
</div>
</div>
</div>
</span>
</div>

        <div>
          <a class="btn btn-danger"
             [routerLink]="((type === 'community') ? '/communities/' : '/collections/') + (dsoRD$ | async)?.payload.uuid + '/delete'">
            <i class="fas fa-trash"></i> {{type + '.edit.delete' | translate}}</a>
        </div>
      </div>
      <div class="pt-2">
        <ul class="nav nav-tabs justify-content-start mb-2">
          <li *ngFor="let page of pages" class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active' : page === currentPage}"
               [routerLink]="['./' + page]">
              {{ type + '.edit.tabs.' + page + '.head' | translate}}
            </a>
          </li>
        </ul>
        <div class="tab-pane active">
          <div class="mb-4">
            <router-outlet></router-outlet>
          </div>
          <div class="col-12 text-right">
            <a *ngIf="!hideReturnButton" [routerLink]="getPageUrl((dsoRD$ | async)?.payload)" class="btn btn-outline-secondary">
              <i class="fas fa-arrow-left"></i> {{ type + '.edit.return' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
