<!-- Updated 09/17/2025-->
<!-- <footer class="footer"> -->
    <div class="viewport-container">
        <div class="footer__content">
            <section class="first-column">
                <h2>University of Michigan Library</h2>
                <ul>
                    <li><a href="https://www.lib.umich.edu/" target="_blank">U-M Library</a></li>
                    <li><a href="https://publishing.umich.edu/"target="_blank">Michigan Publishing</a></li>
                    <li><a href="https://www.lib.umich.edu/about-us/about-library/diversity-equity-inclusion-and-accessibility/accessibility"target="_blank">Accessibility</a></li>
                </ul>
            </section>
            <section>
                <h2>About Deep Blue Documents</h2>
                <ul>
                    <li><a href="about.html">About Deep Blue Documents</a></li>
                    <li><a href="depositing.html">Help</a></li>
                    <li><a href="https://teamdynamix.umich.edu/TDClient/88/Portal/Requests/TicketRequests/NewForm?ID=7Az64AR5TqI_&RequestorType=Service"target="_blank">Contact Us</a></li>
                </ul>
            </section>
            <section>
                <h2>Privacy and copyright</h2>
                <ul>
                    <li><a href="https://lib.umich.edu/about-us/policies/library-privacy-statement"target="_blank">Library Privacy Statement</a></li>
                    <li><p>*Works found in Deep Blue Documents are protected by copyright unless otherwise indicated.</p></li>
                </ul>
            </section>
        </div>
    </div>
    <div class="footer__disclaimer">
        <div class="viewport-container">
            <p>© 2023, Regents of the University of Michigan</p>
        </div>
    </div>
<!-- </footer> -->