<!-- Updated 04/17/2025-->
<script type="module" src="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/dist/umich-lib/umich-lib.esm.js"></script>
<!-- <header> -->
    <m-universal-header></m-universal-header>
    <m-website-header name="Deep Blue Documents" to="/documents" variant="dark">
        <button id="hamburger-menu" class="hamburger-menu" aria-label="Toggle menu">&#9776;</button>
        <nav id="nav-links" class="nav-links" aria-label="Deep Blue Documents Navigation">
            <a href="about.html" style="color: white;">About</a>
            <a href="depositing.html" style="color: white;">Help</a>
        </nav>
    </m-website-header>
<!-- </header> -->
