<!-- Updated 04/17/2025-->
<body>
   <nav class="sidebar">
      <ul>
         <li class="nav-header"><h2>About</h2></li>
         <li><a href="about.html">About Deep Blue Documents</a></li>
         <li><a href="services.html">Services</a></li>
         <li><a href="preservation.html">Preservation</a></li>
         <li><a href="terms-of-deposit.html">Terms of Deposit</a></li>
         <li><a href="accessibility-statement.html">Accessibility Statement</a></li>

         <li class="nav-header"><h2>Help</h2></li>
         <li><a href="depositing.html">Depositing</a></li>
         <li><a href="managing.html">Managing</a></li>
         <li><a href="accessibility.html">Creating Accessible Works</a></li>
         <li><a href="depositing-via-experts.html">Depositing via Michigan Experts</a></li>
         <li><a href="glossary.html">Glossary</a></li>
         <li>
         </li>
      </ul>
   </nav>
</body>

