<h3>{{"search.filters.head" | translate}}</h3>
<a class="btn btn-primary"
   attr.aria-label="{{'search.filters.reset' | translate}}"  
   [routerLink]="[searchLink]" 
   [queryParams]="clearParams | async" 
   queryParamsHandling="merge" 
   role="button" 
   style="margin-bottom: 10px;">
   <i class="fas fa-undo"></i> {{"search.filters.reset" | translate}}
</a>
<div *ngIf="(filters | async)?.hasSucceeded">
    <div *ngFor="let filter of (filters | async)?.payload; trackBy: trackUpdate">
        <ds-search-filter [filter]="filter" [inPlaceSearch]="inPlaceSearch" [refreshFilters]="refreshFilters"></ds-search-filter>
    </div>
</div>


<div>
    <h3>Legend</h3>
    <div id="aspect_eperson_Navigation_list_help" class="list-group">
      <span class="list-group-item ds-option">
        <img title="Restricted to current U-M faculty, staff, and students" style="height:20px;width:20px;text-decoration:none;" src="../../../../assets/images/file_icons/u-m_campus_only_access_icon.png" alt="Restricted to current U-M faculty, staff, and students" /> Limited access: U-M users only</span>

      <span class="list-group-item ds-option">
         <img title="Request Copy" style="height:20px;width:20px;text-decoration:none;" src="../../../../assets/dspace/images/doc_icons/lock.gif" alt="Request Copy" /> Access by request</span>

      <span class="list-group-item ds-option">
        <img title="Hathi" style="height:20px;width:20px;text-decoration:none;" src="../../../../assets/images/file_icons/hathi_trust_icon18x18.png" alt="Hathi" /> Access via HathiTrust</span>

      <span class="list-group-item ds-option">
          <img title="Fulcrum" style="height:20px;width:20px;text-decoration:none;" src="../../../../assets/images/file_icons/fulcrum_icon.png" alt="Fulcrum" /> Access via Fulcrum</span>
    </div>
</div>
