<ng-container *ngVar="(user$ | async) as user">
  <div class="container" *ngIf="user">
    <ng-container *ngIf="isResearcherProfileEnabled() | async">
      <h3 class="mb-4">{{'profile.head' | translate}}</h3>
      <div class="card mb-4">
        <div class="card-header">{{'profile.card.researcher' | translate}}</div>
        <div class="card-body">
          <div class="mb-4">
            <ds-profile-page-researcher-form [user]="user" ></ds-profile-page-researcher-form>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="card mb-4">
      <div class="card-header">{{'profile.card.identify' | translate}}</div>
      <div class="card-body">
        <ds-profile-page-metadata-form [user]="user"></ds-profile-page-metadata-form>
      </div>
    </div>
    <div class="col-12 text-right pr-0">
      <button class="btn btn-primary" (click)="updateProfile()"><i class="fas fa-edit"></i> {{'profile.form.submit' | translate}}</button>
    </div>
  </div>
</ng-container>
