<!-- Remove white space that separates the universal header and regular header.
<p></p>
-->
<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="h1home">Deep Blue Documents</h1>
<p style="
  background-color: #ffe066;
  border: 2px solid #ff8300;
  color: #2d2d2d;
  padding: 16px;
  font-size: 1.15em;
  border-radius: 8px;
  font-weight: bold;
">
  Service Alert: Performing reindexing (11/05/2025) starting at 5pm ET.
  <span style="color: #cc0000;">During this time, search results are incomplete</span>
  until the index is completed, which will probably be around 8am ET 11/06/2025.
</p>

          <p class="lead">Deep Blue Documents provides access to the work that makes the University of Michigan a leader in research, teaching, and creativity.</p>
          <p class="lead">To find works by U-M authors, browse or search the contents of Deep Blue Documents, then link to what you find using a URL that will always work (available to all).</p>
          <p class="lead">To deposit your work, please log in and then select Create New, then Work on the left-side dashboard. For more information on how to deposit a work, see Depositing Your Work in the Help documentatation. For additional questions, please <a style="color: white; text-decoration: underline;" href="https://teamdynamix.umich.edu/TDClient/88/Portal/Requests/TicketRequests/NewForm?ID=7Az64AR5TqI_&amp;RequestorType=Service" target="_blank">Contact Us</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="assets/dspace/images/doc_icons/droplet.jpg 2000w, assets/dspace/images/doc_icons/droplet.jpg 1200w, assets/dspace/images/doc_icons/droplet.jpg 768w">
    <img style="object-position: center;" alt="" [src]="'assets/dspace/images/doc_icons/droplet.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
